<style type="text/css">
       @@media (max-width:500px){
            .logo{
             width:120px;
             height:120px;
             margin-left:10px;
            }
            .Cipri-image{
            width:120px;
             height:120px;
             margin-right:10px;
            }
            .header-paragraph-big-screen{
                display:none;
            }
            .antet{
                display:flex;
                align-items:center;
            }
         
        }  
        @@media(min-width:501px; max-width:1000px){
             .logo{
                width:200px;
                height:200px;
            }

      
            .antet{
                display:flex;
                align-items:center;
            }
             .header-paragraph-big-screen{
                display:none;
            }
            .Cipri-image{
              width:200px;
             height:200px;
            }
         }

          @@media(min-width:1001px){
             .logo{
                width:250px;
                height:250px;
            }

       
            .antet{
                display:flex;
                align-items:center;
            }

            .header-paragraph-small-screen{
                display:none;
            }
            .Cipri-image{
             width:250px;
             height:250px;
            }
         }
    </style>

 <div class="d-flex flex-column justify-content-center align-items-center">
         <div class="antet mt-4 text-center">
              <div><img src="~/images/basc-logo.jpg" class="logo"/></div>
              <div>
                      <h3 class="text-center p-1"> Birou de arhitectură Șimon Ciprian</h3>
                      <div class="header-paragraph-big-screen p-2">
                          <p>Cred că arhitectura și urbanismul vor avea mereu la bază cele trei vechi principii,utilitate, trăinicie și frumusețe.</p>
                          <p>Ponderea lor, în măsuri variabile, este rezultatul colaborării dintre arhitect, beneficiar și comunitatea în care trăiesc.</p>
                          <p>Toată munca arhitectului trebuie îndreptată către găsirea echilibrului între util, trainic și frumos , pentru a ni se descoperi nouă tuturor, cât mai multe din bucuriile esențiale ale vieții. </p>
                      </div>
              </div>

               <div><img src="~/images/poza-Cipri-header.jpg" class="Cipri-image"/></div>
          </div>
          <div class="header-paragraph-small-screen mt-5 p-2 text-center">
                  <p>Cred că arhitectura și urbanismul vor avea mereu la bază cele trei vechi principii,utilitate, trăinicie și frumusețe.</p>
                  <p>Ponderea lor, în măsuri variabile, este rezultatul colaborării dintre arhitect, beneficiar și comunitatea în care trăiesc.</p>
                  <p>Toată munca arhitectului trebuie îndreptată către găsirea echilibrului între util, trainic și frumos , pentru a ni se descoperi nouă tuturor, cât mai multe din bucuriile esențiale ale vieții. </p>
           </div>
          
     </div>





 <div class="p-3">
            <h5>
              <span>INFORMAŢII PERSONALE:</span>
            </h5>
            <div>
              <div>Nume: Şimon Ciprian</div>
              <div>
                Adresa: Cluj-Napoca, str. Jean-Jacques Rousseau nr. 5 ap. 16
              </div>
              <div>
                Telefon: mobil 0723-769462; birou 0264-550333; acasă:
                0264-586724
              </div>
              <div>Naţionalitate: română</div>
              <div>Data naşterii: 8 iulie 1977</div>
              <div>Locul naşterii: loc. Crasna. Jud. Sălaj</div>
            </div>
          </div>

          <div class="p-3">
            <h5>
              <span>EXPERIENŢA PROFESIONALĂ:</span>
            </h5>
            <div class="mb-3">
              <div>Perioada: octombrie 2010 până în prezent</div>
              <div>
                Numele angajatorului: ŞIMON CIPRIAN – Birou Individual de
                Arhitectură
              </div>
              <div>Funcţia ocupată: arhitect</div>
              <div>
                Tipul activităţii: proiectare de arhitectură şi urbanism –
                concepţie, elaborare, evaluare şi avizare proiecte, coordonare
                colectiv de proiectare
              </div>
            </div>
            <div>
              <div>Perioada: septembrie 2001 – octombrie 2010</div>
              <div>
                Numele angajatorului: S.C. Proiect Constrex Consulting S.R.L.
                Cluj-Napoca
              </div>
              <div>Funcţia ocupată: arhitect</div>
              <div>
                Tipul activităţii: proiectare de arhitectură şi urbanism –
                concepţie, elaborare, evaluare şi avizare proiecte, coordonare
                colectiv de proiectare
              </div>
            </div>
          </div>

          <div class="p-3">
            <h5>
              <span>EDUCAŢIE ŞI FORMARE:</span>
            </h5>
            <div>
              <div class="mb-3">
                <div>Perioada: octombrie 1995 – iunie 2001</div>
                <div>Calificare / Diplomă: Diplomă de Arhitect</div>
                <div>Domeniul studiat: Arhitectură şi Urbanism</div>
                <div>
                  Instituţia de învăţământ: Universitatea Tehnică din
                  Cluj-Napoca, Facultatea de Arhitectură şi Urbanism
                </div>
              </div>
              <div class="mb-3">
                <div>Perioada: februarie – iulie 2000</div>
                <div>
                  Calificare / Diplomă: studii arhitectură, bursă Erasmus
                </div>
                <div>Domeniul studiat: Arhitectură şi Urbanism</div>
                <div>
                  Instituţia de învăţământ: Ecole d’Architecture de Grenoble –
                  Franţa
                </div>
              </div>
              <div class="mb-3">
                <div>Perioada: octombrie 2001 – ianuarie 2002</div>
                <div>Calificare / Diplomă: studii urbanism</div>
                <div>Domeniul studiat: Urbanism şi Amenajarea Teritoriului</div>
                <div>
                  Instituţia de învăţământ: Institut d’Urbanisme de Grenoble –
                  Franţa, secţia Urbanisme et Amenagement
                </div>
              </div>
              <div>
                <div>Perioada: septembrie 1991 – iunie 1995</div>
                <div>Calificare / Diplomă: Diplomă de Bacalaureat</div>
                <div>Domeniul studiat: secţia Informatică</div>
                <div>
                  Instituţia de învăţământ: Liceul Teoretic Zalău – Sălaj
                </div>
              </div>
            </div>
          </div>

          <div class="p-3">
            <h5>
              <span>ACTIVITĂŢI PE PARCURSUL STUDIILOR:</span>
            </h5>
            <div>
              <div class="mb-3">
                <div>Perioada: iunie 1996</div>
                <div>
                  Activitatea: studii arhitecturale asupra centrului istoric a
                  două oraşe
                </div>
                <div>Domeniul: arhitectură</div>
                <div>Organizator: Facultatea de Arhitectură din Budapesta</div>
              </div>
              <div class="mb-3">
                <div>Perioada: iulie 1997</div>
                <div>
                  Activitatea: relevee de arhitectură ale unor clădiri –
                  monumente istorice
                </div>
                <div>Domeniul: arhitectură</div>
                <div>
                  Organizator: Facultatea de Arhitectură din Budapesta şi
                  Primăria Tapolca
                </div>
              </div>
              <div>
                <div>Perioada: iulie-august 1999</div>
                <div>
                  Activitatea: proiect de restaurare a Cetăţii Şimleul Silvaniei
                  jud. Sălaj
                </div>
                <div>Domeniul: arhitectură</div>
                <div>
                  Organizator: Facultatea de Arhitectură Cluj-Napoca; Facultatea
                  de Arhitectură din Hamburg
                </div>
              </div>
            </div>
          </div>

          <div class="p-3">
            <h5>
              <span>APTITUDINI ŞI COMPETENŢE PERSONALE:</span>
            </h5>
            <div class="mb-3">
              <div class="fw-bold">Limba maternă:</div> română
            </div>
            <div class="mb-3">
              <div class="fw-bold">Limbi străine:</div>
              <ul>
                <li>engleză: citit, scris, vorbit – bine</li>
                <li>franceză: citit, scris, vorbit – foarte bine</li>
              </ul>
            </div>
            <div class="mb-3">
              <div class="fw-bold">Aptitudini organizatorice:</div>
              <ul>
                <li>
                  coordonare echipă de proiectare în calitate de şef de proiect
                  şi coordonare subproiectanţi(instalaţii, drumuri, devize)
                </li>
                <li>îndrumare şi coordonare arhitecţi stagiari</li>
                <li>gestionare buget de proiectare generală</li>
                <li>
                  evaluare şi examinare iniţială proiecte în vederea autorizării
                </li>
              </ul>
            </div>
            <div>
              <div class="fw-bold">Aptitudini tehnice:</div>
              <ul>
                <li>
                  10 ani de experienţă în proiectare de arhitectură şi urbanism,
                  inclusiv proiecte realizate şi aprobate pe fonduri europene
                </li>
                <li>
                  membru al Ordinului Arhitecţilor din România din anul 2002
                </li>
                <li>
                  membru al Registrului Urbaniştilor din România din anul 2007
                  (certificat RUR categoria D şi E – PUZ, PUD, PUG)
                </li>
              </ul>
            </div>
          </div>